AcupunturaWebService/App_Data/AcupunturaXsd.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name ="acupunturaType" >
    <xs:sequence>
      <xs:element name="Sintomas" type="sintomasType" minOccurs="1" maxOccurs="1" />
      <xs:element name="Diagnosticos" type="diagnosticosType" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name ="sintomasType" >
    <xs:sequence>
      <xs:element name="Sintoma" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name ="Total" type="xs:int" use="required"/>
  </xs:complexType>

  <xs:complexType name ="diagnosticosType" >
    <xs:sequence>
      <xs:element name="Diagnostico" type="diagnosticoType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name ="diagnosticoType" >
    <xs:sequence>
      <xs:element name="Nome" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="Orgao" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="Tratamento" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="Sintomas" type="sintomasType" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name ="Descricao" type="xs:string"/>
  </xs:complexType>

  <xs:element name="Acupuntura" type="acupunturaType"/>
</xs:schema>
